/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif  
    }
  body{
      background-color: #FCFCEF;
      height: 100vh;
      width: 100%;
    }
    header{
        width: 100%;
        height: 90px;
        background-color: #C43000;
        .interior{
            max-width: 100%;
            padding: 0 10px;
            margin: auto;
          }   
          .logo{
            float: left;
            padding: 5px 20px 0;
            }
          .logo img{
             height: 80px;
             border-radius: 5px;
             transform: translateX(10px, 20px)
            } 
          .logo img:hover{
             transform: scale(1.5);
             
            }
          .navbar{
              float: right;
              display: flex;
              align-items: center;
              min-height: 90px;
              z-index: 1000;
            } 
          .navbar ul{
            list-style: none;
            padding: 0 10px;
            }
          .navbar ul li{
            display: inline-block;
            position: relative;
            transition: .3 linear;
            z-index: 1000;
            }
          .navbar ul li:hover{
            transform: scale(1.3);
            }
          .navbar ul li a{
            color: #FCFCEF;
            text-align: center;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: bold;
            padding: 12px 20px;
            transition: .3 linear;
            }
          .navbar ul li a:hover{
            color: black;
            transform: scale(1.3);
            }
            #check-menu, label.menu{
              display: none;
            }
    }
    .titulo{
      h1{
      font-family: nadilla;
      font-style: italic; 
      font-size: 75px;
      display: flex;
      justify-content: center;
      }
    }
    /*inicio*/
    .contenido{
      padding-bottom: 25px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 75px 100px 320px 55px 400px repeat(3, 55px);
      gap: 5px;
      grid-template-areas:
      "titlehab none titleubi" 
      "descripcion descripcion p2" 
      "simple suite deluxe" 
      "reservar1 reservar2 reservar3" 
      "video video video" 
      "servicios servicios servicios" 
      "wifi bath tv" 
      "bank aire cafe";
      .titlehab{
        grid-area: titlehab;
        padding-left: 15px;
        font-size: 25px;
        display: flex;
        justify-self: center;
        align-self: center;
      }
      .titleubi{
        grid-area: titleubi;
        padding-left: 15px;
        font-size: 25px;
        display: flex;
        justify-self: center;
        align-self: center;
      }
      .descripcion{
        grid-area: descripcion;
        padding: 25px;
        width: 500px;
        display: flex;
        justify-self: start;
        align-self: center;
        
      }
      .p2{
        grid-area: p2;
        display: flex;
        justify-self: center;
        align-self: center;
      }
      .simple{
        grid-area: simple;
        width: 300px;
        height: 200px;
        display: flex;
        align-self: center;
        justify-self: center;
      }
      .simple:hover{
        transform: scale(1.5);
        }
      .suite{
        grid-area: suite;
        width: 300px;
        height: 200px;
        display: flex;
        align-self: center;
        justify-self: center;
      }
      .suite:hover{
          transform: scale(1.5);
          }
      .deluxe{
        grid-area: deluxe;
        width: 300px;
        height: 200px;
        display: flex;
        align-self: center;
        justify-self: center;
      }
      .deluxe:hover{
        transform: scale(1.5);
        }
      .reservar1{
        grid-area: reservar1;
        display: flex;
        align-self: start;
        justify-self: center;
      }
      .reservar1:hover{
        transform: scale(1.5);
      }
      .reservar2{
        grid-area: reservar2;
        display: flex;
        align-self: start;
        justify-self: center;
      }
      .reservar2:hover{
        transform: scale(1.5);
      }
      .reservar3{
        grid-area: reservar3;
        display: flex;
        align-self: start;
        justify-self: center;
      }
      .reservar3:hover{
        transform: scale(1.5);
      }
      a{
        color: white;
      }
      .video{
        grid-area: video;
        width: 400px;
        height: 390px;    
        display: flex;
        align-self: center;
        justify-self: center;
      }
      .servicios{
        grid-area: servicios;
        padding-left: 15px;
        font-size: 25px;
      }
      .wifi{
        grid-area: wifi;
        padding-left: 15px;
      }
      .bath{
        grid-area: bath;
        padding-left: 15px;
      }
      .tv{
        grid-area: tv;
        padding-left: 15px;
      }
      .bank{
        grid-area: bank;
        padding-left: 15px;
      }
      .aire{
        grid-area: aire;
        padding-left: 15px;
      }
      .cafe{
        grid-area: cafe;
        padding-left: 15px;
    }
  }
    footer{
      background-color: #C43000;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 45px 170px 50px;
      gap: 5px;
      grid-template-areas:
      "navegacion pago contacto redes"
      "lista imgpago contactlist redesicon"
      "newsletter newsletter newsletter newsletter";
      .navegacion{
        grid-area: navegacion;  
        color:black;
        padding: 15px;
        display: flex;
        align-self: center;
        justify-self: start;
        }
        footer .lista{
          color: white;
          display: flex;
          align-self: center;justify-self: start;
        }
        .pago{
        grid-area: pago;  
        color:black;
        display: flex; 
        align-self: center;
        justify-self: start;
        }
        .contacto{
        grid-area: contacto;
        padding-left: 30px;  
        color:black; 
        display: flex;
        align-self: center;
        justify-self: start;
        }
        .redes{
        grid-area: redes;  
        color:black; 
        display: flex;
        align-self: center;
        justify-self: center;
        }
        .redesicon{
          grid-area: redesicon;
          color: white;
          display: flex;
          align-self: center;
          justify-self: center;
        }
        .instagram{
          width: 50px;
          height: 50px;
          }
        
        label{
          width: 45px;
          height: 45px;
        }
        a{
          color: white;
        }
        .newsletter{
        grid-area: newsletter;  
        display: flex;
        align-self: center;
        justify-self: center;
        }
        .imgpago{
          width:150px;
          display: flex;
          align-self: center;justify-self: start;
        }
        .contactlist{
          color: white;
          display: flex;
          align-self: center;justify-self: start;
        }
        h3{
          font-size: 20px;
          display: flex;
          justify-self: center;
    }
  }
  /*galeria*/
 .imggaleria{
     display: grid;
     grid-template-columns: repeat(3, 350px);
     grid-template-rows: repeat(5, 250px);
     gap: 20px;
     margin-left: 150px;
     margin-bottom: 55px;
     grid-template-areas:
     "hab2 hab3 hab5"
     "hab6 hab7 hab9"
     "hab10 hab11 hab12"
    "comedor piscina reserva"
     "tarifa frente patio" ;
     .hab2{
      grid-area: hab2;
      width: 350px;
      height: 250px;
      border-radius: 5px;
     }
     .hab2:hover{
      transform: scale(1.5);
    }
     .hab3{
      grid-area: hab3;
      width: 350px;
      height: 250px;
      border-radius: 5px;
     }
     .hab3:hover{
      transform: scale(1.5);
    } 
     .hab5{
      grid-area: hab5;
      width: 350px;
      height: 250px;
      border-radius: 5px; 
     }
     .hab5:hover{
      transform: scale(1.5);
    }
     .hab6{
      grid-area: hab6;
      width: 350px;
      height: 250px;
      border-radius: 5px;
     }
     .hab6:hover{
      transform: scale(1.5);
    }
     .hab7{
      grid-area: hab7;
      width: 350px;
      height: 250px;
      border-radius: 5px;
     }
     .hab7:hover{
      transform: scale(1.5);
    }
     .hab9{
      grid-area: hab9;
      width: 350px;
      height: 250px;
      border-radius: 5px;
     }
     .hab9:hover{
      transform: scale(1.5);
    }
     .hab10{
      grid-area: hab10;
      width: 350px;
      height: 250px;
      border-radius: 5px;
     }
     .hab10:hover{
      transform: scale(1.5);
    }
     .hab11{
      grid-area: hab11;
      width: 350px;
      height: 250px;
      border-radius: 5px;
     }
     .hab11:hover{
      transform: scale(1.5);
    }
     .hab12{
      grid-area: hab12;
      width: 350px;
      height: 250px;
      border-radius: 5px;
     }
     .hab12:hover{
      transform: scale(1.5);
    }
     .comedor{
      grid-area: comedor;
      width: 350px;
      height: 250px;
      border-radius: 5px;
     }
     .comedor:hover{
      transform: scale(1.5);
    }
     .piscina{
      grid-area: piscina;
      width: 350px;
      height: 250px;
      border-radius: 5px;
     }
     .piscina:hover{
      transform: scale(1.5);
    }
     .reserva{
      grid-area: reserva;
      width: 350px;
      height: 250px;
      border-radius: 5px;
     }
     .reserva:hover{
      transform: scale(1.5);
    }
     .tarifa{
      grid-area: tarifa;
      width: 350px;
      height: 250px;
      border-radius: 5px;
     }
     .tarifa:hover{
      transform: scale(1.5);
    }
     .frente{
      grid-area: frente;
      width: 350px;
      height: 250px;
      border-radius: 5px;
     }
     .frente:hover{
      transform: scale(1.5);
    }
     .patio{
      grid-area: patio;
      width: 350px;
      height: 250px;
      border-radius: 5px;
     }
     .patio:hover{
      transform: scale(1.5);
    }
 } 
 /*tarifas*/
 .tarifas{
  display: grid;
  grid-template-columns: repeat(3, 350px);
  grid-template-rows: 250px 60px;
  gap: 20px;
  margin-left: 150px;
  margin-bottom: 55px;
  grid-template-areas:
  "tarifa1 tarifa2 tarifa3"
  "boton1 boton2 boton3";
.tarifa1{
  grid-area: tarifa1;
  width: 350px;
  height: 250px;
  border-radius: 5px;
}
.tarifa2{
  grid-area: tarifa2;
  width: 350px;
  height: 250px;
  border-radius: 5px;
}
.tarifa3{
  grid-area: tarifa3;
  width: 350px;
  height: 250px;
  border-radius: 5px;
}
.boton1{
  grid-area: boton1;
  display: flex;
  justify-self: center;  
}
.boton1:hover{
  transform: scale(1.2);
}
.boton2{
  grid-area: boton2;
  display: flex;
  justify-self: center;
}
.boton2:hover{
  transform: scale(1.2);
}
.boton3{
  grid-area: boton3;
  display: flex;
  justify-self: center;
}
.boton3:hover{
  transform: scale(1.2);
}
a{
  color: white;
}
 }
 /*ubicacion*/
 .ubicacion{
  display: flex;
  justify-content: space-around;
  margin-left: 150px;
  margin-bottom: 55px;
  .direccion{
    display: flex;
    justify-self: center;
    align-self: center;
  }
 }
 /*reervas*/
 .formulario{
  width: auto;
  display: flex;
  margin-left: 150px;
  margin-bottom: 55px;
  padding: 15px;
  justify-content: space-around;
  .logo{
    width: 500px;
    display: flex;
    height: 300px;
    border-radius: 25px;
    align-self: center;
  }
 }
 /*animaciones*/
 .animate__animated.animate__fadeInRight{
  --animate-duration: 2s;
  
 }
 /*mobile*/
 @media screen and (max-width:360px) {
  header{
    .logo{ 
      float: right;
      
    }  
  .navbar {
    float: left;
    display: flex;
    background-color: #C43000;
       ul{
           display: none;
           position: absolute;
           height: 100hv;
           top: 50px;
           width: 100%;
           flex-direction: column;
           background-color: #C43000;
           justify-content: start;
          }
       label.menu {
         display: block;
         font-size: 1.7em;
         color:#FCFCEF;
         background-color: #C43000;
       }
  #check-menu:checked ~ul{
    display: block; 
    background-color: #C43000;
  }
  .navbar ul li{
    background-color: #C43000;
    width: 100vh;
  }
}
  
  /*titulo*/
  .titulo{
  h1{
    font-family: nadilla;
    font-style: italic; 
    font-size: 55px;
    height: 75px;
    padding: 10px;
    display: flex;
    justify-content: center;
    }
  }
}
  /*inicio*/
  .contenido{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 55px 130px 55px 55px  repeat(3,200px 55px) 320px 55px repeat(6, 50px);
    gap: 5px;
    grid-template-areas:
    "titlehab" 
    "descripcion"
    "titleubi" 
    "p2" 
    "simple" 
    "reservar1"
    "suite" 
    "reservar2"
    "deluxe" 
    "reservar3" 
    "video" 
    "servicios" 
    "wifi" 
    "bath"
    "tv" 
    "bank"
    "aire"
    "cafe";
  .titlehab{
    grid-area: titlehab;
    padding-left: 15px;
    font-size: 25px;
    display: flex;
    justify-self: center;
    align-self: center;
  }
  .titleubi{
    grid-area: titleubi;
    padding-left: 15px;
    font-size: 25px;
    display: flex;
    justify-self: center;
    align-self: center;
  }
  .descripcion{
    grid-area: descripcion;
    padding: 10px;
    width: 320px;
    display: flex;
    justify-self: center;
    align-self: center;
    
  }
  .p2{
    grid-area: p2;
    padding: 10px;
    width: 320px;
    display: flex;
    justify-self: center;
    align-self: center;
  }
  .simple{
    grid-area: simple;
    width: 300px;
    height: 200px;
    display: flex;
    align-self: center;
    justify-self: center;
  }
  .suite{
    grid-area: suite;
    width: 300px;
    height: 200px;
    display: flex;
    align-self: center;
    justify-self: center;
  }
  .deluxe{
    grid-area: deluxe;
    width: 300px;
    height: 200px;
    display: flex;
    align-self: center;
    justify-self: center;
  }
  .reservar1{
    grid-area: reservar1;
    display: flex;
    align-self: start;
    justify-self: center;
  }
  .reservar2{
    grid-area: reservar2;
    display: flex;
    align-self: start;
    justify-self: center;
  }
  .reservar3{
    grid-area: reservar3;
    display: flex;
    align-self: start;
    justify-self: center;
  }
  a{
    color: white;
  }
  .video{
    grid-area: video;
    width: 320px;
    height: 320px;    
    display: flex;
    align-self: center;
    justify-self: center;
  }
  .servicios{
    grid-area: servicios;
    font-size: 25px;
    display: flex;
    justify-self: start;
    align-self: center;
  }
  .wifi{
    grid-area: wifi;
    display: flex;
    justify-self: start;
    align-self: center;
  } 
  .bath{
    grid-area: bath;
    display: flex;
    justify-self: start;
    align-self: center;
  }
  .tv{
    grid-area: tv;
    display: flex;
    justify-self: start;
    align-self: center;
  }
  .bank{
    grid-area: bank;
    display: flex;
    justify-self: start;
    align-self: center;
  }
  .aire{
    grid-area: aire;
    display: flex;
    justify-self: start;
    align-self: center;
  }
  .cafe{
    grid-area: cafe;
    display: flex;
    justify-self: start;
    align-self: center;
}
  }
  /*footer*/
  .footer{
    background-color: #C43000;
    display: grid;
    grid-template-columns: 320px;
    grid-template-rows: 40px 150px 50px;
    gap: 5px;
    grid-template-areas:
    "navegacion" 
    "lista"
    "pago"
    "imgpago" 
    "contacto" 
    "contactlist" 
    "redes"
    "redesicon"
    "newsletter";
    .navegacion{
      grid-area: navegacion;  
      color:black;
      padding-left: 15px;
      padding-top: 15px;
      display: flex;
      align-self: center;
      justify-self: start;
       
      }
      .lista{
        color: white;
        display: flex;
        align-self: center;
        justify-self: start;
      }
      .pago{
        grid-area: pago;  
        color:black;
        padding-left: 15px;
        display: flex; 
        align-self: center;
        justify-self: start;
        }
        .imgpago{
          width:150px;
          padding-left: 15px;
          display: flex;
          align-self: center;
          justify-self: start;
        }
        .contacto{
          grid-area: contacto;
          padding-left: 15px;  
          color:black; 
          display: flex;
          align-self: center;
          justify-self: start;
          }
          .contactlist{
            color: white;
            padding-left: 15px;
            display: flex;
            align-self: center;
            justify-self: start;
          }
        .redes{
            grid-area: redes;  
            color:black;
            padding-left: 15px; 
            display: flex;
            align-self: center;
            justify-self: start;
            }  
        .redesicon{
              grid-area: redesicon;
              color: white;
              display: flex;
              align-self: center;
              justify-self: center;
            }   
         a{
              color: white;
            }
         .newsletter{
            grid-area: newsletter;
            padding-bottom: 20px;  
            display: flex;
            align-self: center;
            justify-self: center;
            }            
  }
/*ubicacion*/
  .ubicacion{
    display: grid;
    margin: 20px;
    grid-template-columns: 320px;
    grid-template-rows: 400px 250px;
    gap: 5px;
    grid-template-areas:
    "map"
    "direccion";
  }
  .map{
    width: 320px;
    height: 320px;
  }
  /*galeria*/
  .imggaleria{
    margin: 0;
    padding-left: 5px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(2, 170px);
    grid-template-rows: repeat(8, 150px);
    gap: 10px;
    grid-template-areas: 
    "hab2 hab3" 
    "hab5 hab6"
    "hab7 hab9"  
    "hab10 hab11"
    "hab12 comedor" 
    "piscina reserva" 
    "tarifa frente"
    "patio patio";
    .hab2{
      grid-area: hab2;
      width: 170px;
      height: 150px;
      border-radius: 5px;
    }
 .hab3{
      grid-area: hab3;
      width: 170px;
      height: 150px;
      border-radius: 5px;
     }
.hab5{
      grid-area: hab5;
      width: 170px;
      height: 150px;
      border-radius: 5px; 
     }
.hab6{
      grid-area: hab6;
      width: 170px;
      height: 150px;
      border-radius: 5px;
     }
.hab7{
      grid-area: hab7;
      width: 170px;
      height: 150px;
      border-radius: 5px;
     }
.hab9{
      grid-area: hab9;
      width: 170px;
      height: 150px;
      border-radius: 5px;
     }
.hab10{
      grid-area: hab10;
      width: 170px;
      height: 150px;
      border-radius: 5px;
     }
.hab11{
      grid-area: hab11;
      width: 170px;
      height: 150px;
      border-radius: 5px;
     }
.hab12{
      grid-area: hab12;
      width: 170px;
      height: 150px;
      border-radius: 5px;
     }
.comedor{
      grid-area: comedor;
      width: 170px;
      height: 150px;
      border-radius: 5px;
     }
.piscina{
      grid-area: piscina;
      width: 170px;
      height: 150px;
      border-radius: 5px;
     }
.reserva{
      grid-area: reserva;
      width: 170px;
      height: 150px;
      border-radius: 5px;
     }
.tarifa{
      grid-area: tarifa;
      width: 170px;
      height: 150px;
      border-radius: 5px;
     }
.frente{
      grid-area: frente;
      width: 170px;
      height: 150px;
      border-radius: 5px;
     }
.patio{
      grid-area: patio;
      width: 170px;
      height: 150px;
      border-radius: 5px;
      display: flex;
      justify-self: center;
      align-self: center;
     }
  }
  /*reservas*/
  .formulario{
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 450px 220px;
    gap: 5px;
    grid-template-areas:
    "tabla"
    "logoreserva";

    .tabla{
    grid-area: tabla;  
    width: 300px;
    padding: 15px;
    display: flex;
    justify-self: center;
    align-self: center;
    }
    .logoreserva{
      grid-area: logoreserva;
      display: flex;
      align-self: center;
      justify-self: center;
      img{
        width: 300px;
        height: 200px;
        border-radius: 25px;
      }
    }
   }
   /*tarifas*/
   .tarifas{
    margin: 0;
    margin-bottom: 20px;
    padding-left: 5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:repeat(3, 250px 60px);
    gap: 20px;
    grid-template-areas:
    "tarifa1" 
    "boton1"
    "tarifa2" 
    "boton2"  
    "tarifa3"
    "boton3";
  .tarifa1{
    grid-area: tarifa1;
    width: 350px;
    height: 250px;
    border-radius: 5px;
  }
  .tarifa2{
    grid-area: tarifa2;
    width: 350px;
    height: 250px;
    border-radius: 5px;
  }
  .tarifa3{
    grid-area: tarifa3;
    width: 350px;
    height: 250px;
    border-radius: 5px;
  }
  .boton1{
    grid-area: boton1;
    display: flex;
    justify-self: center;  
  }
  .boton2{
    grid-area: boton2;
    display: flex;
    justify-self: center;
  }
  .boton3{
    grid-area: boton3;
    display: flex;
    justify-self: center;
  }
  a{
    color: white;
  }
}
 }
